<h1>Want to learn your allergies from your allergy score?</h1>

<p>Just enter in your score from these numbers and I can tell you your allergies.</p>

<form action='/output' method='get'>
  <div class="form-group">
    <!--input field for user one-->
    <label for="userInput">Enter your allergy score:</label>
    <input id="userInput" name="userInput" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Get my allergies!</button>
</form>
